# Volatilidad de los Depósitos Diarios

In [1]:
#Tipo de Cambio
Tipo = 31.9140 #
# Caída promedio diaria según Néstor
caida_promedio_diaria = 4.8
# Depósitos del Público en Abril 2018
depositos_publico_abril = 5383.9
# Depósitos a la Fecha: 24/09/2018

In [2]:
import tabula
from tabula import read_pdf
import numpy as np
import pandas as pd

In [3]:
#Obteniendo en córdobas:
dcs = tabula.read_pdf('C:/Users/Deybi.Morales/Documents/Bitbucket/simplystats-master/content/Reporte Diario Depositos y Liquidez FOGADE-es-ni_250918.pdf', 
                spreadsheet=True,
                area=(186.278,10.328,282.668,600.908 ), 
                pandas_options = {'header': None})
dcs

,0,1,2,3,4,5,6,7,8,9,10,11
0,BANPRO,"15,794.0",401.6,18.1,899.5,6.0%,176.6,16.2%,15.8%,975.5,13.1%,34.4
1,BANCO LAFISE BA,"7,890.7",-154.2,-126.9,"-1,639.9",-17.2%,377.5,18.3%,19.9%,635.6,17.7%,3.8
2,BAC,"6,415.5",15.3,218.8,"-2,248.3",-25.9%,269.2,20.0%,18.9%,622.0,28.4%,53.8
3,BDF,"1,746.0",-23.2,-129.8,-381.3,-17.9%,72.6,20.7%,20.9%,181.9,21.5%,40.2
4,BANCO FICOHSA N,"1,098.1",-29.5,-281.7,-72.6,-6.2%,389.3,27.3%,26.7%,118.7,16.2%,4.6
5,AVANZ,510.8,-3.0,-89.6,-30.6,-5.7%,34.0,15.3%,17.4%,25.2,33.3%,3.6
6,BANCORP,"3,488.9",24.6,10.9,182.7,5.5%,0.0,42.8%,43.4%,"1,138.1",4.1%,0.0
7,TOTAL C$,"36,944.1",231.7,-380.3,"-3,290.5",-8.2%,"1,319.3",NaN,NaN,"3,697.1",NaN,140.2

In [4]:
#Convertir en dólares

In [65]:
#Obteniendo en dólares:
ds = tabula.read_pdf('C:/Users/Deybi.Morales/Documents/Bitbucket/simplystats-master/content/Reporte Diario Depositos y Liquidez FOGADE-es-ni_250918.pdf', 
                spreadsheet=True,
                area=(359.933,11.858,454.793,602.438 ), 
                pandas_options = {'header': None})
ds

,0,1,2,3,4,5,6,7,8,9,10,11
0,BANPRO,906.1,-1.2,-54.5,-246.3,-21.4%,34.6,16.6%,16.3%,58.0,4.0%,97.8
1,BANCO LAFISE BA,753.6,4.2,-53.4,-182.5,-19.5%,39.5,15.5%,15.6%,39.6,2.4%,63.8
2,BAC,931.7,6.3,-31.3,-156.0,-14.3%,171.3,20.4%,21.7%,79.5,6.7%,84.9
3,BDF,359.6,-0.8,-12.6,-60.2,-14.3%,45.4,20.6%,20.2%,34.2,5.2%,13.3
4,BANCO FICOHSA N,205.7,1.1,-3.5,-50.7,-19.8%,37.5,16.2%,16.4%,10.4,3.9%,30.1
5,AVANZ,125.0,0.4,-4.6,-6.1,-4.7%,20.9,17.9%,17.9%,8.2,7.4%,9.6
6,BANCORP,235.3,2.6,0.1,12.9,5.8%,0.0,35.3%,35.2%,58.7,3.3%,1.2
7,TOTAL US$,"3,517.0",12.5,-159.8,-688.8,-16.4%,349.1,NaN,NaN,288.7,NaN,300.7

In [66]:
#Consolidados en dólares:
d = tabula.read_pdf('C:/Users/Deybi.Morales/Documents/Bitbucket/simplystats-master/content/Reporte Diario Depositos y Liquidez FOGADE-es-ni_250918.pdf', 
                spreadsheet=True,
                area=(528.998,8.798,626.153,600.143 ), 
                pandas_options = {'header': None})
d

,0,1,2,3,4,5,6,7,8,9,10,11
0,BANPRO,"1,401.0",11.3,-55.5,-235.1,-14.4%,40.1,16.5%,16.2%,88.6,7.2%,97.8
1,BANCO LAFISE BA,"1,000.8",-0.7,-58.2,-244.7,-19.6%,51.3,16.2%,16.7%,59.6,6.2%,63.8
2,BAC,"1,132.8",6.7,-25.1,-236.3,-17.3%,179.7,20.3%,21.2%,99.0,10.5%,84.9
3,BDF,414.3,-1.5,-16.9,-74.5,-15.2%,47.7,20.6%,20.3%,39.9,7.4%,13.3
4,BANCO FICOHSA N,240.1,0.1,-12.4,-54.3,-18.4%,49.7,17.4%,17.6%,14.1,5.7%,30.1
5,AVANZ,141.0,0.3,-7.5,-7.7,-5.2%,22.0,17.6%,17.8%,9.0,10.3%,9.6
6,BANCORP,344.7,3.4,0.0,14.9,4.5%,0.0,37.7%,37.8%,94.4,3.6%,1.2
7,TOTAL US$,"4,674.7",19.6,-175.6,-837.6,-15.2%,390.5,NaN,NaN,404.8,NaN,300.7

In [67]:
TOTALES = list(map(str, d[1]))   #Tiene coma se quita
#TOTALES

In [68]:
totales = [c.replace(',', '') for c in TOTALES]
totales = np.array(totales,dtype=float)
totales

array([1401. , 1000.8, 1132.8,  414.3,  240.1,  141. ,  344.7, 4674.7])

In [69]:
INSTITUCIONES = list(map(str, d[6])) #Tiene coma se quita
#INSTITUCIONES

In [70]:
instituciones = [c.replace(',', '') for c in INSTITUCIONES]
instituciones = np.array(instituciones,dtype=float)
instituciones

array([ 40.1,  51.3, 179.7,  47.7,  49.7,  22. ,   0. , 390.5])

In [71]:
ENCAJEDIA = list(map(str, d.iloc[0:7,7]))
#ENCAJEDIA

In [72]:
encajedia = [c.replace('%', '') for c in ENCAJEDIA] #Tiene % se quita
import numpy as np
encajedia = np.array(encajedia,dtype=float) / 100
encajedia

array([0.165, 0.162, 0.203, 0.206, 0.174, 0.176, 0.377])

In [73]:
ENCAJESEMANAL = list(map(str, d.iloc[0:7,8]))
#ENCAJESEMANAL

In [74]:
encajesemanal = [c.replace('%', '') for c in ENCAJESEMANAL]
encajesemanal = np.array(encajesemanal,dtype=float) / 100
encajesemanal

array([0.162, 0.167, 0.212, 0.203, 0.176, 0.178, 0.378])

In [75]:
#Todos los caracteres se han convertido a número para hacer las respectivas operaciones.
# Primera operación es la resta de TOTALES - INSTITUCIONES para calcular los DEPÓSITOS DEL PÚBLICO
publico = totales - instituciones
publico

array([1360.9,  949.5,  953.1,  366.6,  190.4,  119. ,  344.7, 4284.2])

In [76]:
encaje_efectivo_diario = encajedia * (publico[0:7])
encaje_efectivo_diario

array([224.5485, 153.819 , 193.4793,  75.5196,  33.1296,  20.944 ,
       129.9519])

In [77]:
encaje_requerido_diario = (10/100) * (publico[0:7])
encaje_requerido_diario

array([136.09,  94.95,  95.31,  36.66,  19.04,  11.9 ,  34.47])

In [78]:
exceso = encaje_efectivo_diario - encaje_requerido_diario
exceso

array([88.4585, 58.869 , 98.1693, 38.8596, 14.0896,  9.044 , 95.4819])

In [79]:
depositos_publico = publico[0:7]
index=["BANPRO", "LAFISE", "BAC", "BDF", "FICOHSA", "AVANZ", "BANCORP"]
d = {'BANCO': index, 
     'Depósitos Totales': totales[0:7], 
     'Instituciones Financieras': instituciones[0:7],
     'Depósitos del Público' : depositos_publico,
     'Porcentaje de Encaje Diario': encajedia*100,
     'Encaje Efectivo': encaje_efectivo_diario, 
     'Encaje Requerido': encaje_requerido_diario,
     'Exceso de Encaje': exceso}
pd.DataFrame(d)

,BANCO,Depósitos Totales,Instituciones Financieras,Depósitos del Público,Porcentaje de Encaje Diario,Encaje Efectivo,Encaje Requerido,Exceso de Encaje
0,BANPRO,1401.0,40.1,1360.9,16.5,224.5485,136.09,88.4585
1,LAFISE,1000.8,51.3,949.5,16.2,153.8190,94.95,58.8690
2,BAC,1132.8,179.7,953.1,20.3,193.4793,95.31,98.1693
3,BDF,414.3,47.7,366.6,20.6,75.5196,36.66,38.8596
4,FICOHSA,240.1,49.7,190.4,17.4,33.1296,19.04,14.0896
5,AVANZ,141.0,22.0,119.0,17.6,20.9440,11.90,9.0440
6,BANCORP,344.7,0.0,344.7,37.7,129.9519,34.47,95.4819

In [80]:
d_total_depositos = d['Depósitos Totales'].sum()
d_total_financieras = d['Instituciones Financieras'].sum()
d_total_publico = d['Depósitos del Público'].sum()
d_total_encaje_efectivo = d['Encaje Efectivo'].sum()
d_total_encaje_requerido = d['Encaje Requerido'].sum()
d_total_exceso_encaje = d['Exceso de Encaje'].sum()

In [81]:
print("SISTEMA:")
print("Depósitos Totales: ", d_total_depositos, "millones de dólares")
print("Depósitos de Instituciones Financieras: ", d_total_financieras, "millones de dólares")
print("Depósitos del Público: ", d_total_publico, "millones de dólares")
print("Encaje Efectivo: ", d_total_encaje_efectivo, "millones de dólares")
print("Encaje Requerido: ", d_total_encaje_requerido, "millones de dólares")
print("Exceso de Encaje: ", d_total_exceso_encaje, "millones de dólares")

SISTEMA:
Depósitos Totales:  4674.700000000001 millones de dólares
Depósitos de Instituciones Financieras:  390.5 millones de dólares
Depósitos del Público:  4284.2 millones de dólares
Encaje Efectivo:  831.3919 millones de dólares
Encaje Requerido:  428.4200000000001 millones de dólares
Exceso de Encaje:  402.97190000000006 millones de dólares

In [82]:
#caida_promedio_diaria 
volatilidad_nestor = d_total_exceso_encaje / caida_promedio_diaria 
volatilidad_nestor
print("Volatilidad en base a una caída de 4.8 millones diarios: ", volatilidad_nestor, "días")

Volatilidad en base a una caída de 4.8 millones diarios:  83.95247916666668 días

In [83]:
reduccion_hasta_hoy = d_total_publico - depositos_publico_abril
print("Reducción desde Abril 18 hasta hoy: ", reduccion_hasta_hoy, "millones de dólares")
caida_promedio_hasta_hoy = reduccion_hasta_hoy / 148  #días
print("Caída promedio diaria: ", caida_promedio_hasta_hoy, "millones de dólares")
volatilidad_hasta_hoy = d_total_exceso_encaje / -caida_promedio_hasta_hoy
print("Volatilidad en base a una caída de 7.42 millones diarios: ", volatilidad_hasta_hoy, "días")

Reducción desde Abril 18 hasta hoy:  -1099.6999999999998 millones de dólares
Caída promedio diaria:  -7.430405405405404 millones de dólares
Volatilidad en base a una caída de 7.42 millones diarios:  54.23282822587981 días

In [84]:
#63.9
volatilidad_hasta_mayor_caida = d_total_exceso_encaje / 63.9
print("Volatilidad en base a una caída de 63.9 millones diarios: ", volatilidad_hasta_mayor_caida, "días")

Volatilidad en base a una caída de 63.9 millones diarios:  6.306289514866981 días

In [88]:
a=5
b=6

In [56]:

html_code ="""
<html>
  <head>
    <script type="text/javascript">
    window.alert(%s);
    </script>
  </head>
</html>""" % a

#from IPython.display import HTML
#HTML(html_code)

*hola*

In [90]:
html_code ="""
<html>
  <head>
  <body>
   %s
   </bosy>
  </head>
</html>""" %a

SyntaxError: invalid syntax (<ipython-input-90-38afa18a4905>, line 8)

In [83]:
HTML(html_code)

In [91]:
 from IPython.display import HTML, display

 data = [[1,2,3],
         [4,5,6],
         [7,8,9],
         ]

 display(HTML(
    '<table><tr>{}</tr></table>'.format(
        '</tr><tr>'.join(
            '<td>{}</td>'.format('</td><td>'.join(str(_) for _ in row)) for row in data)
        )
 ))

In [92]:
import pandas as pd
data = [[1, 2], [3, 4]]
pd.DataFrame(data, columns=["Foo", "Bar"])

   Foo  Bar
0    1    2
1    3    4

In [103]:
from IPython.core.display import display, HTML
display(HTML("""
<table style='margin: 0 auto'>
<tr><th>Hi!</th><th>There!</th></tr>
<tr><td>1</td><td>%s</td></tr>
</table>
""" %a))

In [104]:
import markdown
class YourClass(str):
    def _repr_html_(self):
        return markdown.markdown(self)
d = {'a': 2, 'b': 3}
rows = ["| %s | %s |" % (key, value) for key, value in d.items()]
table = "------\n%s\n------\n" % ('\n'.join(rows))
YourClass(table)

'------\n| a | 2 |\n| b | 3 |\n------\n'